/*---------------------------
	Fonts
----------------------------*/

// fonts
$base-font-size: 15;
$base-font: "Inter";
$heading-font: "Poppins";



// color
$dark-gray: #047B18; //
$body-color: #687693;
$white: #fff;
$light: #C2C2C2; //
$black: #000;
$black-s2: #14c233;
$small-black: #0B3742; //
$cyan: #F6F2ED; //

$theme-primary-color: #047B18; //
$theme-primary-color-s2: #047B18; //
$body-bg-color: #fff;
$section-bg-color: #fafbfe;
$text-color: #6e6e6e;
$text-light-color: #535353; //
$text-light-color-s2: #20273C; //
$text-light-color-s3: #047B18; //
$text-light-color-s4: #FF7D44; //
$heading-color: $dark-gray;
$border-color: #ebebeb;
$border-color-s2: #d8e0f1;